.wrapper {
  display: flex;
}
.side-view {
  background-color: #e0cece;
  height: 100vh;
  width: 300px;
}

.left-header {
  height: 100px;
  background-color: #dbc3c3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-info {
  display: flex;
}

.user-info a {
  margin-right: 100px;
  color: black;
  font-size: 23px;
  font-weight: bold;
}

.left-stack {
  height: 200px;
  width: 100%;
}

.left-task-contents {
  display: flex;
  justify-content: center;
}



.main-view {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100% - 600px);
}

.top-header {
  position: relative;
  height: 100px;
  background-color: #e0cece;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 50px;
  font-family:'Sacramento', cursive;
  margin-left: 14px;
}

.lists-menu {
  margin-right: 25px;
  padding: 10px;
  font-weight: bold;
}

.header-lists {
  background-color: #FAFAFA;
  width: 150px;
  position: absolute;
  top: 80px;
  left: 700px;
  padding: 20px;
}

.header-lists li {
  margin-bottom: 10px;
}

.header-lists a {
  color: black;
}

.runking-view {
  background-color: #e0cece;
  height: 100vh;
  width: 300px;
}

.hidden {
  display: none;
}

.task-list {
  width: 100%;
  height: 100%;
  border: 1px solid #D8D8D8;
}