

.fa-caret-right {
  margin-right: 3px;
}

.toggle {
  display: none;
}

.toggles {
  display: none;
}

#menu {
  display: none;
}

#menus {
  display: none;
} 

input#open {
  display: none;
}

input#opens {
  display: none;
}

.fa-paper-plane {
  color: #3189b6;
}

.lists-menu {
  margin-right: 25px;
  padding: 10px;
  font-weight: bold;
}

.header-list {
  margin-right: 15px;
}

.home-logo {
  display: flex;
}

.home-text {
  font-weight: bold;
  margin-top: 15px;
  margin-left: 5px;
}

.fa-home {
  margin-top: 5px;

}

.fa-spinner {
  margin-right: 8px;
  color: #5fc2f5;
}


.top-contents {
  background-color: #FAFAFA; 
}



.tweets-contents {
  width: 100%;
}

.tweet-info {
  display: flex;
  justify-content: space-between;
}


.user-name {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  
}
li.study-text {
  line-height: 140%;
  margin-top: 10px;
}
p.study-text {
  margin-left: 10px;
}
.user-task {
  margin-bottom: 10px;
  font-weight: bold;
}

.study_time {
  font-weight: bold;
}

.runking-best-contents {
  margin-top: 23px;
}

.best_user {
  width: 250px;
  margin: 2em 0;
  margin-top: 105px;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}


.best_user .box-title {
  font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.best_user p {
  font-size: 20px;
  padding: 17px 25px;
  margin: 0;
  color: black;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #6594e0;
}

.hidden {
  display: none;
}
