/* 検索ボタンのフォーム */

.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  width: 200px;
  border: none;
  height: 40px;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #389bb9;
  color: #fff;
  outline : none;
  width: 3.3em;
  height: 43px;
}