  <div class="runking_view">
    <div class="best_user">
      <% @user_runking.each_with_index do |user,i| %>
        <p class="runking-list"><%= "#{i+1}ä½ #{user.nickname}" %></p>
      <% end %>
    </div>
  </div>