  <div class="runking_contents">
    
      <div class="runking-best-contents">
        <%# <div class="best-info">
          <p class="runking-info">積み上げランキング</p>
        </div> %>
        <div class="best_user">
          <div class="box-title">積み上げランキング</div>
          <% @user_runking.each_with_index do |user,i| %>
            <p class="runking-list"><%= "#{i+1}位 #{user.nickname}" %></p>
          <% end %>
        </div>
          <ul class="follow-me">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <ul class="follow-me">
              <li><a href="https://twitter.com"></a></li>
              <li><a href="https://www.facebook.com"></a></li>
              <li><a href="https://plus.google.com"></a></li>
              <li><a href="https://www.youtube.com"></a></li>
              <li><a href="https://www.tumblr.com"></a></li>
           </ul>
      </div>
  </div>