<div class="left-header">
  <% if user_signed_in? %>
  <ul class="user-info">
    <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
  </ul>
  <% end %>
</div>

<div class="left-contents">
</div>