  <div class="runking_contents">
    
      <div class="runking-best-contents">
        <%# <div class="best-info">
          <p class="runking-info">積み上げランキング</p>
        </div> %>
        <div class="best_user">
          <div class="box-title">積み上げランキング</div>
          <% @user_runking.each_with_index do |user,i| %>
            <p class="runking-list"><%= "#{i+1}位 #{user.nickname}" %></p>
          <% end %>
        </div>
      </div>
  </div>