<div class="left-header">
  <% if user_signed_in? %>
  <ul class="user-info">
    <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
    <li>画像</li>
  </ul>
  <% end %>
</div>
  
<div class="left-stack">
  <%= render "tweets/study_record" %>
</div>

<div class="left-task-contents">
  <%= render "categories/new" %>
</div>
<div class="left-task-lists">
  <%= render partial: 'categories/index' %>
</div>