<div class="left-header">
  <% if user_signed_in? %>
  <ul class="user-info">
    <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
    <li>画像</li>
  </ul>
  <% end %>
</div>
<div class="left-main">
  <div class="left-stack">
    <%= render "tweets/study_record" %>
  </div>

  <div class="left-task-contents">
    <%= render "categories/new" %>
  </div>
  <div id="left-task-lists">
    <%= render 'categories/index' %>
  </div>

  <div class="design-btn">
    <a href="/tweets/new" class="btn-square-little-rich">積み上げる</a>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>