
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<div class="wrapper">
  <div class="side-view">
    <%= render "side_bar" %>
  </div>
  <div class="main-view">
    <%= render "main_view" %>
  </div>
  <div class="runking-view">
    <%= render "side_runking" %>
  </div>
</div>

