<head>
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
</head>

<div class="profile-allcontainer">
  <div class="profile-header">
  </div>
  <div class="profile-container">
    <div class="profile-box">
      <div class="profile-record">
        <div class="user-profile-name">
          <p><i class="fas fa-user-circle"></i></p>
          <p class="profile-name"><%= @user.nickname %></p>
        </div>
        <div class="user-profile-item">
          <p class="profile-item"><%= @tweets_count %></p>
          <p>総積み上げ数</p>
        </div>
        <div class="user-profile-time">
          <p class="profile-time"><%= @user_tweets %></p>
          <p>学習時間</p>
        </div>
      </div>
    </div>
    <div class="chart-box">
    </div>
  </div>
</div>