
.task-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.task-list li {
  display: flex;
  margin-left: 18px;
  margin-bottom: 13px;
  font-size: 25px;
}

ol.task-list:hover {
    color : #30a2c5;  
}

.task-list a {
  font-size: 15px;
  margin-right: 25px;
  color: black;
}

.task-contents form {
  display: flex;
}

.task-field input {
  width: 200px;
}

.task-actions input {
  width: 50px;
  margin-left: 10px;
} 
