<div class="task-lists">
  <% if user_signed_in? %>
    <% @categories.each do |category| %>
      <ul class="task-list">
        <li><%= category.task %></li>
      </ul>
    <% end %>
  <% end %>
</div>