
<div class="task-contents">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
     <div class="field">
       <%= f.label :task %>
       <%= f.text_field :task %>
     </div>
     <div class="actions">
       <%= f.submit "+" %>
     </div>
    <% end %>
</div>
